/* Estilos existentes */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(135deg, #0575e6, #021b79);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 30px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}


h2 {
    text-align: center;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form select, form button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

input{
    background-color: #fff;
    text-align: center;
    font-size: 20px;
    color: #1e18bc;
    font-size: bold;
    height: 30px;
    width: 50px;
    border: solid 2px #2216aa;
}

form button {
    height: 50px;
    font-size: 20px;
    background-color: #0fbc54;
    color: #1e18bc;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

form button:hover {
    font-size: 20px;
    background-color: #2216aa;
    color: #19d15f;
}

.palpite-form{
    font-size: 20px;
}

.jogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #014dff;
    color: #ddd;
    border: 1px solid #ddd;
}

.jogo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.jogo span {
    margin-right: 10px;
}

.jogo label{
    color: #ddd;
    font-size: 15px;
}

.pontos-jogo {
    font-weight: bold;
    color: #19d15f;
    font-size: 5px;
}

.jogo .pontos-jogo{
    font-size: 15px;
}

select, label{
    color: #1b13bb;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: linear-gradient(135deg, #0575e6, #021b79);
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color:#2216aa;
    color:#dfd929;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

#pontos-totais-container, #pontos-rodada-container {
    margin-bottom: 20px;
    background-color: #2216aa;
    color: #fff;
}
#pontos-totais-container h3{
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    padding: 0;
}

#pontos-totais-container ul, #pontos-rodada-container ul {
    padding: 0;
    list-style-type: none;
    background-color: #2216aa;
    color: #fff;
}

#pontos-rodada-container h3{
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#pontos-rodada-container ul li{
    background-color: #00c424;
    border-radius: 10px;
    margin: 10px;
    color: #021b79;
    font-weight: 800;
    border: none;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pontos-rodada-container ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#pontos-rodada{
    margin: 0;
    padding: 0;
}

/* #pontos-totais-container li, #pontos-rodada-container li {
    background-color: #014dff;
    color: #19d15f;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
} */

#pontos-totais li{
    font-size: 1.75rem;
    background-color: #0fca2b;
    color: #021b79;
    font-weight: 900;
    text-align: center;
}

#btn-ranking{
    width: 100%;
    margin: 0 auto;
    background-color: #17a168;
    font-size: 20px;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}

#btn-palpites{
    position: relative;
    background-color:#19d15f;
    color: #000;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#btn-palpites a{
    text-decoration: none;
}

#lista-ranking, ul{
    background-color: #0fca2b;
    font-size: 25px;
    text-align: left;
    color: #1e18bc;
}

#btn-ranking:hover {
    background-color: #014dff;
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #555;
}

#user-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#user-name {
  margin-right: 10px;
}

#logout-button {
  margin: 20px;
  position: relative;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#logout-button:hover {
  background-color: darkred;
}

.ancoralogout{
    color: #ddd;
    text-decoration: none;
    font-weight: 800;
}

#palpites {
    margin-top: 20px;
}

#palpites-list {
    margin-bottom: 120px;
    list-style-type: none;
    padding: 0;
}

#palpites-list li {
    color: #fff;
    font-size: 15px;
    background-color: #1b13bb;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

#rodada-select{
    font-size: 20px;
    border-radius: 8px;
    width: 200px;
    height: 40px;
    background-color: #1e18bc;
    color: #fff;
}

#user-select, option{
    font-size: 20px;
    border-radius: 8px;
    width: 200px;
    height: 40px;
    background-color: #1e18bc;
    color: #fff;
}

.resultado-real {
    background-color: #19d15f;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #2216aa;
    font-size: 14px;
}
.resultado-real strong {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 5px;
}

div{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#btn-enviar{
    font-size: 25px;
}

/* Estilo para a tabela de ranking */
#ranking-table {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 0px;
  margin-bottom: 200px;
  font-family: 'Roboto', sans-serif;
}

#ranking-table th,
#ranking-table td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#ranking-table th {
  background-color: #1e3c72;
  color: white;
  font-weight: bold;
}

#ranking-table tbody tr:nth-child(odd) {
  background-color: #0d1038;
  color: #fff;
}

#ranking-table tbody tr:nth-child(even) {
  background-color: #0d1038;
  color: #fff;
}

/* Destaque para os três primeiros colocados */
#ranking-table tbody tr:first-child td {
  background-color: rgb(28, 13, 224);
  color: #fff;
  font-weight: bold;
}

#ranking-table tbody tr:nth-child(2) td {
  background-color: rgb(104, 144, 218);
  color: #fff;
  font-weight: bold;
}

#ranking-table tbody tr:nth-child(3) td {
  background-color: #0ea73c; /* Bronze */
  color: #fff;
  font-weight: bold;
}

/* Menos destaque para os dois últimos colocados */
#ranking-table tbody tr:last-child td,
#ranking-table tbody tr:nth-last-child(2) td {
  background-color: #df0b0b;
  color: #fff;
  font-weight: bold;
}

#result strong{
    background-color: #00c424;
    color: #000;
}

/* Estilo para campos com erro */
input.erro, select.erro {
    border: 2px solid red;
    background-color: #ffe6e6;
}
/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    .jogo {
        background-color: #2216aa;
        color: #ddd;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    .jogo img {
        margin-bottom: 10px;
    }

    .jogo span {
        margin-right: 0;
        margin-bottom: 5px;
    }

    form input, form select, form button {
        font-size: 14px;
        padding: 8px;
    }

    #btn-ranking {
        width: 100%;
        padding: 15px;
    }

    .btn {
        width: 100%;
        padding: 15px;
    }
}

@media (max-width: 200px) {
    .jogo {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        flex-direction: row;
        align-items: center;
    }
    #jogos-container{
        font-size: 10px;
    }

    .jogo .escudo{
        margin: 0;
        width: 30px;
        height: 30px;
    }
    .jogo input{
        width: 30px;
        height: 30px;
    }
    header h1 {
        font-size: 30px;
    }

    h2, h3 {
        font-size: 18px;
    }

    form input, form select, form button {
        font-size: 12px;
        padding: 6px;
    }

    .jogo img {
        width: 40px;
        height: 40px;
    }

    .jogo span {
        font-size: 14px;
    }

    #btn-ranking {
        padding: 12px;
    }

    .btn {
        padding: 12px;
    }
}